body{line-height:150%; font-size: 16px; font-family: Arial}
.wysiwyg{width: 500px ;height: 200px;}
.wysiwyg2{width: 500px ;height: 200px;}
.onemore-wysiwyg{border:1px solid #444;}
.onemore-wysiwyg-controls{background-color: #666; padding:4px; }
.onemore-wysiwyg-controls .control{background-color: #eee; padding:4px; margin-right:4px; cursor:pointer;}
/*
	Для упрощения примера я воспользовался свойством content (работает только в передовых браузерах) и, вместо иконки, в каждую команду, я просто вывожу атрибут data-command.
	Для добавление иконок просто добавляйте правило .just-wysiwyg-controls .control[data-command="имя_команды"].
	Например, .just-wysiwyg-controls .control[data-command="Italic"] {background-image: url(italic.png)}
*/
.onemore-wysiwyg-controls .control:after{content:attr(data-command)}
.onemore-wysiwyg-controls .control.active{background-color:#ccc;}
.onemore-wysiwyg-container{background-color: #eee; padding:4px;overflow:auto;}
